{{set . "title" "Initial Setting"}}
{{template "head.html" .}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="col-12">
			<h3>Initial Setting</h3>

			{{if .errors}}
			<div class="alert alert-danger" role="alert">
				Please Fix errors marked below.
			</div>
			{{end}}

			<form method="POST" action="Config/Save">
				<div class="form-group">
					<label for="db">DB type</label>
					<select name="db" class="form-control">
						<option value="mysql" selected>MySQL</option> <!-- 初期はMySQLのみ対応とする。 -->
					</select>
				</div>

				<div class="form-group">
					<p class="{{if .error.host}}error{{end}}">
						<label for="host">dbhost</label><span class="text-danger"> *{{.errors.host.Message}}</span>
						<input type="text" name="host" value="{{.flash.username}}" class="form-control"/>
					</p>
				</div>

				<div class="form-group">
					<p class="{{if .error.dbname}}error{{end}}">
						<label>dbname</label><span class="text-danger"> *{{.errors.dbname.Message}}</span>
						<input type="text" name="dbname" value="{{.flash.dbname}}" class="form-control">
					</p>
				</div>

				<div class="form-group">
					<p class="{{if .error.dbuser}}error{{end}}">
						<label>dbuser</label><span class="text-danger"> *{{.errors.dbuser.Message}}</span>
						<input type="text" name="dbuser" value="{{.flash.dbuser}}" class="form-control">
					</p>
				</div>

				<div class="form-group">
					<p class="{{if .error.password}}error{{end}}">
						<label>password</label><span class="text-danger"> *{{.errors.password.Message}}</span>
						<input type="password" name="password" value="{{.flash.password}}" class="form-control">
					</p>
				</div>


				<p class="buttons">
					<input type="submit" value="Save" class="btn btn-success">
				</p>
			</form>
		</div>
	</div>
</div>

</body>
{{template "footer.html" .}}
